221941

Adrian Gil D. De Guzman

August 16, 2024

# Lab Exercise 2

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [29]:
import pandas as pd

** Read Lab2.csv as a dataframe called sal.**

In [30]:
sal = pd.read_csv('Lab2.csv')

** Check the head of the DataFrame. **

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19923 entries, 0 to 19922
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                19923 non-null  int64
 1   EmployeeName      19923 non-null  object
 2   JobTitle          19922 non-null  object
 3   BasePay           19922 non-null  float64
 4   OvertimePay       19922 non-null  float64
 5   OtherPay          19922 non-null  float64
 6   Benefits          0 non-null      float64
 7   TotalPay          19922 non-null  float64
 8   TotalPayBenefits  19922 non-null  float64
 9   Year              19922 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            19922 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.0+ MB

**What is the average BasePay ?**

In [ ]:
average = sal['BasePay'].mean()
print(average)

92255.34896948097

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
max_OvertimePay = sal['OvertimePay'].max()
print(max_OvertimePay)

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
row_number = sal.index[sal['EmployeeName'] == 'JOSEPH DRISCOLL'][0]
job_title = sal['JobTitle'][row_number]
print(job_title)

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
row_number = sal.index[sal['EmployeeName'] == 'JOSEPH DRISCOLL'][0]
total_pay_benefits = sal['TotalPayBenefits'][row_number]
print(total_pay_benefits)

270324.91

** What is the name of highest paid person (including benefits)?**

In [ ]:
max_pay_row = sal.index[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()][0]
name = sal['EmployeeName'][max_pay_row]
print(name)

NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
min_pay_row = sal.index[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()][0]
name = sal['EmployeeName'][min_pay_row]
print(name)

CHARLES BRIDGEWATER

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [31]:
average_per_year = sal.groupby('Year')['BasePay'].mean()
print(average_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [ ]:
print(len(sal.JobTitle.unique()))

871

** What are the top 5 most common jobs? **

In [ ]:
print(sal['JobTitle'].value_counts().head(5))

JobTitle
TRANSIT OPERATOR      1463
REGISTERED NURSE      1082
FIREFIGHTER            744
POLICE OFFICER III     743
DEPUTY SHERIFF         653
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [38]:
job_frequency_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
unique_job = job_frequency_2013[job_frequency_2013 == 1]
print(unique_job)

JobTitle
Laboratory Technician I           1
Sctry, Juv Probation Comm         1
Drug Court Coordinator            1
IS Operator-Journey               1
Court Asst., Superior Court       1
                                 ..
Sr General Utility Mechanic       1
Sprv Adult Prob Ofc (SFERS)       1
Mayoral Staff XII                 1
Pr Investigator, Tax Collector    1
Senior Assessment Clerk           1
Name: count, Length: 202, dtype: int64

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [41]:
chief_people = sal.loc[sal['JobTitle'].str.contains('Chief')]
print(len(chief_people['EmployeeName']))

423

** Display the correlation between length of the Job Title string and Salary **

In [42]:
sal['JobTitleLength'] = sal['JobTitle'].str.len()
print(sal['JobTitleLength'].corr(sal['TotalPayBenefits']))

-0.036878445932606675