221941

Adrian Gil D. De Guzman

August 16, 2024

# Online Spending Exercise

In this Exercise you will be given some Fake Data about some purchases done through Alibaba! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

** Import pandas and read in the Lab1 csv file and set it to a DataFrame called df. **

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Lab1')

**Check the head of the DataFrame.**

In [7]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [ ]:
count_row = len(df)
count_column = len(df.columns)
print(count_row)
print(count_column)

10000
14
<class 'pandas.core.frame.DataFrame'>

** What is the average Purchase Price? **

In [ ]:
average = df["Purchase Price"].mean()
print(average)

50.347302

** What were the highest and lowest purchase prices? **

In [ ]:
high = df["Purchase Price"].max()
print(high)

99.99

In [ ]:
low = df["Purchase Price"].min()
print(low)

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [ ]:
english_user_count = df["Language"].value_counts()["en"]
print(english_user_count)

1098

** How many people have the job title of "Lawyer" ? **

In [ ]:
lawyer_count = df["Job"].value_counts()["Lawyer"]
print(lawyer_count)

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [ ]:
AM_count = df["AM or PM"].value_counts()["AM"]
PM_count = df["AM or PM"].value_counts()["PM"]
print(f"Number of people who made the purchase during...\nAM: {AM_count}\nPM: {PM_count}")

Number of people who made the purchase during...
AM: 4932
PM: 5068

** What are the 5 most common Job Titles? **

In [8]:
job_frequency = df["Job"].value_counts()
most_common = job_frequency.head(5)
print(most_common)

Job
Interior and spatial designer    15
Designer, jewellery              15
Warden/ranger                    13
Charity fundraiser               13
Careers adviser                  13
Name: count, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [ ]:
row_number = df.index[df["Lot"] == "90 WT"][0]
purchase_price = df["Purchase Price"][row_number]
print(purchase_price)

75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [ ]:
row_number = df.index[df["Credit Card"] == 4926535242672853][0]
email = df["Email"][row_number]
print(email)

bondellen@williams-garza.com

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [15]:
american_and_above_95 = df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)]
count = len(american_and_above_95)
print(count)

18

** Hard: How many people have a credit card that expires in 2025? **

In [ ]:
year = df["CC Exp Date"].str.split("/").str[1]
year = year.astype(int)
expire_count = year[year == 25].count()
print(expire_count)

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [ ]:
email_providers = df["Email"].str.split("@").str[1]
most_popular = email_providers.value_counts().head(5)
print(most_popular)

Email
yahoo.com      647
hotmail.com    635
gmail.com      585
smith.com       14
johnson.com     12
Name: count, dtype: int64